<navbar></navbar>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active"><a data-toggle="collapse" href="" data-target="#apartments">院系<span class="sr-only">选中</span></a></li>
        <div id="apartments" class="collapse in">
        <li ng-repeat="apartment in apartments"><!-- contain a apartment -->
          <ul class="nav">
            <li>
              <a data-toggle="collapse" data-target="#apartment-{{ apartment._id }}" href="">{{ apartment.name }}
                <button type="button" class="close nav-close" ng-click="deleteApartment(apartment._id)" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </a>
            </li>
            <div id="apartment-{{ apartment._id }}" class="collapse">
            <li ng-repeat="major in apartment.majors"><!-- contain a major -->
              <ul class="nav">
                <li>
                  <a data-toggle="collapse" data-target="#major-{{ major._id }}" href="">{{ major.name }}
                    <button type="button" class="close nav-close" ng-click="deleteMajor(apartment._id, major._id)" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </a>
                </li>
                <div id="major-{{ major._id }}" class="collapse">
                <li ng-repeat="class in major.classes"><!-- contain a class -->
                  <ul class="nav">
                    <li>
                      <a ng-click="showClassCourses(apartment, major, class)" href="">{{ class.name }}
                        <button type="button" class="close nav-close" ng-click="deleteClass(apartment._id, major._id, class._id)" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </a>
                    </li>
                  </ul>
                </li><!-- contain a class -->
                <li><ul class="nav">
                  <li ng-click="addClassDialog(apartment, major)"><a href="">添加班级</a></li>
                </ul></li>
                </div>
              </ul>
            </li>
            <li><ul class="nav">
                <li ng-click="addMajorDialog(apartment)"><a href="">添加专业</a></li>
            </ul></li>
            </div>
          </ul>
        </li>
        <li><ul class="nav">
          <li ng-click="addApartmentDialog()"><a href="">添加院系</a></li>
        </ul></li>
        </div>
      </ul>
      <ul class="nav nav-sidebar">
        <li data-toggle="collapse" data-target="#teachers" class="active"><a href="">教师</a></li>
        <div class="collapse in" id="teachers">
        <li ng-repeat="teacher in teachers"><!-- contain a teacher -->
          <ul class="nav">
            <li>
              <a href="">{{ teacher.name }}({{ teacher._id }} - {{ teacher.apartment.name }})
                <button type="button" class="close nav-close" ng-click="deleteTeacher(teacher._id)" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </a>
            </li>
          </ul>
        </li>
        <li ng-click="addTeacherDialog()">
          <ul class="nav">
            <li><a href="">添加教师</a></li>
          </ul>
        </li>
        </div>
      </ul>
    </div><!-- .col-sm-3 -->
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
      <div ng-show="allCourses"><!-- show all courses -->
        <h3>所有课程</h3>
        <table id="courses-table" class="table table-striped">
          <tr>
            <th>编号</th>
            <th>名称</th>
            <th>教师</th>
            <th>性质</th>
            <th>学时</th>
            <th>院系</th>
            <th>专业</th>
            <th>班级</th>
            <th>周数</th>
            <th>时间</th>
            <th>编辑</th>
          </tr>
          <tr ng-repeat="course in courses">
            <td>{{ course._id || '' }}</td>
            <td>{{ course.name || '' }}</td>
            <td>{{ course.teacher.name }}</td>
            <td>{{ course.type.name }}</td>
            <td>{{ course.intermHours }}</td>
            <td>{{ course.apartment.name || '' }}</td>
            <td>{{ course.major.name }}</td>
            <td>{{ course.classesName }}</td>
            <td>{{ course.arrange.weeksName }}</td>
            <td>{{ course.arrange.timeNPlaceName }}</td>
            <td>
              <span ng-click="editCourse(course._id)" class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
              <span ng-click="deleteCourse(course._id)" class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </td>
          </tr>
        </table>
      </div><!-- show all courses -->
      <div ng-show="classCourses"><!-- show courses of a class -->
        <h3><a ng-click="showAllCourses()" href="">所有课程</a> -> {{ shownClass.name }}</h3>
        <table class="table table-striped">
          <tr class="row">
            <th class="col-sm-2"></th>
            <th class="col-sm-2">星期一</th>
            <th class="col-sm-2">星期二</th>
            <th class="col-sm-2">星期三</th>
            <th class="col-sm-2">星期四</th>
            <th class="col-sm-2">星期五</th>
          </tr>
          <tr class="row" ng-repeat="courseRow in shownCourses">
            <td class="col-sm-2 course-row"><div class="course-row-name btn">{{ courseRow.name }}</div></td>
            <td class="col-sm-2 row" data-drop="true" ng-repeat="unitCourses in courseRow.courses" ng-model="unitCourses"
              data-jqyoui-options="{accept:'.btn-draggable:not([ng-model=course])'}" jqyoui-droppable="{ onDrop: 'checkConflict(courseRow._id, $index)', multiple: true }">
              <div class="col-sm-12 btn btn-draggable btn-info" ng-repeat="course in unitCourses" ng-show="course.title" data-drag="{{course.drag}}" 
                data-jqyoui-options="{ revert: 'invalid' }" ng-model="unitCourses" jqyoui-draggable="{ index: {{ $index }}}">
                {{course.title}}
              </div>
            </td>
          </tr>
        </table>
      </div><!-- show courses of a class -->
      <div ng-show="teacherCourses">
      </div>
    </div><!-- right side -->
  </div><!-- .row-->
</div><!-- .container-fluid -->

<!-- edit course dialog -->
<script type="text/ng-template" id="editCourseDialog.html">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">增加课程</h4>
  </div><!-- modal-header -->

  <div class="modal-body">
    <form ng-submit="addCourse()">
      <!-- 1st section -->
      <div class="row form-group"><!-- courseName, selectedApartment, selectedMajor, selectedGrade; apartments and grades is needed -->
        <div class="col-sm-2">
          <label class="control-label">课程名称(*):</label>
          <input type="text" class="form-control" ng-required ng-model="course.name"></input>
        </div>
        <div class="col-sm-2">
          <label class="control-label">院系:</label>
          <select ng-options="apartment as apartment.name for apartment in apartments" class="form-control" ng-model="course.apartment"></select>
        </div>
        <div class="col-sm-2">
          <label class="control-label">专业:</label>
          <select class="form-control" ng-options="major as major.name for major in course.apartment.majors" ng-model="course.major"></select>
        </div>
        <div class="col-sm-2">
          <label class="control-label">年级(*):</label>
          <select ng-options="grade as grade.name for grade in grades" class="form-control" ng-model="course.grade"></select>
        </div>
        <div class="col-sm-2">
          <label class="control-label">课程性质(*):</label>
          <select class="form-control" ng-options="com as com.name for com in comOpts" ng-model="course.type"></select>
        </div>
        <div class="col-sm-2">
          <label class="control-label">课程类别:</label>
          <select class="form-control" ng-options="category as category.name for category in categories" ng-model="course.category"></select>
        </div>
      </div>

      <!-- 2nd section -->
      <div class="row form-group"><!-- lectureHours, onlineHours, intermHours -->
        <div class="col-sm-2">
          <label class="control-label">讲课学时:</label>
          <input class="form-control" ng-model="course.lectureHours"></input>
        </div>
        <div class="col-sm-2">
          <label class="control-label">上机学时:</label>
          <input class="form-control" ng-model="course.onlineHours"></input>
        </div>
        <div class="col-sm-2">
          <label class="control-label">本学期总学时(*):</label>
          <input class="form-control" ng-required ng-model="course.intermHours"></input>
        </div>
        <div class="col-sm-2">
          <label class="control-label">实验学时:</label>
          <input class="form-control" ng-model="course.labHours"></input>
        </div>
        <div class="col-sm-2">
          <label class="control-label">课外学时:</label>
          <input class="form-control" ng-model="course.extracurricular"></input>
        </div>
        <div class="col-sm-2">
          <label class="control-label">本课程总学时:</label>
          <input class="form-control" ng-model="course.totalHours"></input>
        </div>
      </div><hr/>

      <!-- 4th section -->
      <div class="row form-group"><!-- seg in classes; tipHide, classes are needed -->
        <div class="col-sm-9">
          <label class="control-label">可选班级:<span class="warm" ng-hide="tipHide">请选择院系专业年级</span></label>
          <label class="btn btn-default" ng-repeat="class in course.classes" ng-model="class.isSelected" btn-checkbox>{{ class.name }}</label>
        </div>
      </div><hr/>

      <!-- 5th section -->
      <div class="row form-group"><!-- teacherId, teacherName -->
        <div class="col-sm-2">
          <label class="control-label">教师代号(*):</label>
          <input ng-required type="text" class="form-control" ng-model="course.teacher._id"></input>
        </div>
        <div class="col-sm-2">
          <label class="control-label">教师姓名(*):</label>
          <input ng-required type="text" ng-readonly="isReadonly" class="form-control" ng-model="course.teacher.name"></input>
        </div>
        <div class="col-sm-2">
          <label class="form-inline control-label">开始周数:</label>
          <input type="text" class="form-inline form-control" ng-model="startweek"></input>
        </div>
        <div class="col-sm-2">
          <label class="form-inline control-label">结束周数:</label>
          <input type="text" class="form-inline form-control" ng-model="endweek"></input>
        </div>
        <div class="col-sm-2">
          <label class="control-label">添加:</label>
          <button type="button" ng-click="addWeekSec()" class="form-control btn btn-primary">添加</button>
        </div>
      </div><hr/>

      <!-- 7th section -->
      <div class="form-group row"><!-- arranges is needed to save -->
        <label class="control-label col-sm-12">周数: <span ng-repeat="weekSec in course.arrange.weekSecs" class="tip">{{ weekSec.name }}; </span></label>
        <label class="control-label col-sm-12">上课时间: <span ng-repeat="time in course.arrange.timeNPlace" class="tip">{{ time.name }}; </span></label>
      </div>
      <div class="form-inline"><!-- weekday, positon -->
        <div class="form-group">
          <label class="form-inline control-label">星期:</label>
          <select ng-options="day as day.name for day in weekdays" class="form-inline form-control" ng-model="weekday"></select>
          <label class="form-inline control-label">节次:</label>
          <select ng-options="pos as pos.name for pos in positions" class="form-inline form-control" ng-model="position"></select>
          <button type="button" ng-click="addTime()" class="btn btn-default">添加</button>
        </div>
      </div>
    </form>
  </div><!-- modal-body -->

  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">取消</button>
    <button type="button" class="btn btn-primary" ng-click="addCourse()">添加</button>
  </div><!-- modal-footer -->
</script>

<!-- Confirm dialog -->
<script type="text/ng-template" id="confirmDialog.html">
  <div class="modal-body">
    <p>{{ msg }}</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">取消</button>
    <button class="btn btn-primary" ng-click="ok()">确定</button>
  </div>
</script>

<!-- add apartment dialog -->
<script type="text/ng-template" id="addApartmentDialog.html">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">添加院系</h4>
  </div><!-- modal-header -->

  <div class="modal-body">
    <form ng-submit="ok()">
      <div class="form-group">
        <label class="control-label" >请输入院系名称:</font></label>
        <input type="text" ng-required class="form-control" ng-model="apartmentName"></input>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">取消</button>
    <button class="btn btn-primary" ng-click="ok()">确定</button>
  </div>
</script>

<!-- add major dialog -->
<script type="text/ng-template" id="addMajorDialog.html">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">添加专业</h4>
  </div><!-- modal-header -->

  <div class="modal-body">
    <form ng-submit="ok()">
      <div class="form-group">
        <label class="control-label" >请输入专业名称:</font></label>
        <input type="text" ng-required class="form-control" ng-model="majorName"></input>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">取消</button>
    <button class="btn btn-primary" ng-click="ok()">确定</button>
  </div>
</script>

<!-- add class dialog -->
<script type="text/ng-template" id="addClassDialog.html">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">添加班级</h4>
  </div><!-- modal-header -->

  <div class="modal-body">
    <form ng-submit="ok()">
      <div class="form-group">
        <label class="control-label" >请输入班级名称:</label>
        <input type="text" ng-required class="form-control" ng-model="className"></input>
        <label class="control-label" >年级:</label>
        <select type="text" ng-required ng-options="grade as grade.name for grade in grades" class="form-control" ng-model="selectedGrade"></select>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">取消</button>
    <button class="btn btn-primary" ng-click="ok()">确定</button>
  </div>
</script>

<!-- add teacher -->
<script type="text/ng-template" id="addTeacherDialog.html">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">添加教师</h4>
  </div><!-- modal-header -->

  <div class="modal-body">
    <form ng-submit="ok()">
      <div class="form-group">
        <label class="control-label">所属院系:</label>
        <select ng-model="apartment" ng-required ng-options="apartment as apartment.name for apartment in apartments" class="form-control"></select>
      </di>
      <div class="form-group">
        <label class="control-label" >请输入教师姓名:</label>
        <input type="text" class="form-control" ng-required ng-model="teacherName"></input>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">取消</button>
    <button class="btn btn-primary" ng-click="ok()">确定</button>
  </div>
</script>
