<navbar></navbar>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active"><a href="#">院系<span class="sr-only">选中</span></a></li>
        <li><a class="sub-element" href="#">电信学院</a></li>
        <li><a class="sub-element" href="#">机械学院</a></li>
        <li><a class="sub-element" href="#">电气学院</a></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li><a href="">教师</a></li>
        <li><a class="sub-element" href="">都比</a></li>
        <li><a class="sub-element" href="">逗比</a></li>
        <li><a class="sub-element" href="">逗比</a></li>
        <li><a class="sub-element" href="">逗比</a></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li><a href="">教学楼</a></li>
        <li><a class="sub-element" href="">逗比</a></li>
        <li><a class="sub-element" href="">逗比</a></li>
      </ul>
    </div><!-- .col-sm-3 -->
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
      <h1>Packer</h1>
    </div>
    <footer class="footer col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
      <div>
        <p>KIWI © 2014</p>
      </div>
    </footer>
  </div><!-- .row-->
</div><!-- .container-fluid -->
