<!-- right-side of navbar if route if '/login' -->
<!-- attached by directive nvabar.js/conditionalRightNavbar to navbar-div.html -->
<!-- controllers: LoginCtrl -->

<!-- login form + register button -->
<form ng-submit="login()" name="loginForm" class="navbar-form navbar-right">
  <div class="form-group" ng-class="{ 'has-error': loginForm.sername.$invalid && login.username.$dirty}">
    <input placeholder="用户名" name="sername" ng-model="user.username" class="form-control" type="text"></input>
  </div>
  <div class="form-group" ng-class="{ 'has-error': loginForm.password.$invalid && login.password.$dirty}">
    <input placeholder="密码" class="form-control" name="password" ng-model="user.password" type="password"></input>
  </div>
  <button id="login_btn" type="submit" class="btn btn-success">登陆</button>
  <button id="register_btn" type="button" class="btn btn-primary" ng-click="registerDialogAlert()">注册</button>
</form>

<!-- message dialog -->
<script type="text/ng-template" id="messageDialog.html">
  <div class="modal-header">
    <h3 class="modal-title">{{ title }}</h3>
  </div>
  <div class="modal-body">
    <p>{{ msg }}</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">确定</button>
  </div>
</script>
