<!-- right-side of navbar if route if '/main' -->
<!-- attached by directive nvabar.js/conditionalRightNavbar to navbar-div.html -->
<!-- controllers: MainCtrl -->

<ul class="nav navbar-nav navbar-right">
  <li><a ng-click="addGradeDialog()" href="">增加年级</a></li>
  <li><a ng-click="addCourseDialog()" href="">增加课程</a></li>
  <li><a ng-click="uploadExcelDialog()" href="">导入</a></li>
  <li><a href="">导出</a></li>
  <li class="dropdown">
    <a class="dropdown-toggle" aria-expanded="true" id="dropdownMenu" data-toggle="dropdown" href="">{{ user.username }}</a>
    <ul class="dropdown-menu" role="menu" aria-lablledby="dropdownMenu">
      <li role="dropdown-menu"><a role="menuitem" tabindex="-1" href="#">个人信息</a></li>
      <li role="dropdown-menu"><a role="menuitem" tabindex="-1" href="#">安全设置</a></li>
      <li role="dropdown-menu"><a role="menuitem" tabindex="-1" href="" ng-click="logout()">退出</a></li>
    </ul>
  </li>
</ul>

<form class="navbar-form navbar-right">
  <input class="form-control" placeholder="搜索..." type="text">
</form>

<!-- excelUploadDialog -->
<script type="text/ng-template" id="uploadDialog.html">
  <!-- excelUploadDialog header -->
  <div class="modal-header">
    <button type="button" class="close"  ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">导入课程</h4>
  </div>

  <!-- dialog body -->
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="excelFileInput">文件导入</label>
        <input type="file" id="excelFileInput">
        <p class="help-block">请上传符合要求的excel文件</p>
      </div><!-- form-group -->
    </form>
  </div>

  <!-- Dialog footer -->
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">取消</button>
    <button type="button" class="btn btn-primary">导入</button>
  </div>
</script>

<!-- add course dialog -->
<script type="text/ng-template" id="addCourseDialog.html">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">增加课程</h4>
  </div><!-- modal-header -->

  <div class="modal-body">
    <form>
      <div class="form-group">
        <label class="control-label" >课程名称:</font></label>
        <input type="text" ng-required class="form-control" ng-model="courseName"></input>
      </div>
      <div class="row form-group">
        <div class="col-sm-3">
          <label class="control-label">院系:</label>
          <select type="text" ng-options="apartment as apartment.name for apartment in apartments" class="form-control" ng-model="selectedApartment"></select>
        </div>
        <div class="col-sm-3">
          <label class="control-label">专业:</label>
          <select type="password" class="form-control" ng-options="major as major.name for major in selectedApartment.majors" ng-model="selectedMajor"></select>
        </div>
        <div class="col-sm-3">
          <label class="control-label">教师代号:</label>
          <input type="text" class="col-sm-3 form-control" ng-model="teacherId"></input>
        </div>
        <div class="col-sm-3">
          <label class="control-label">教师姓名:</label>
          <input type="text" ng-readonly="isReadonly" class="form-control" ng-model="teacherName"></input>
        </div>
      </div>
      <div class="form-group">
      </div>
      <div class="row form-group">
        <div class="col-sm-3">
          <label class="control-label">年级:</label>
          <select type="text" ng-options="grade as grade.name for grade in grades" ng-change="selectClasses()" class="form-control" ng-model="selectedGrade"></select>
        </div>
        <div class="col-sm-9">
          <label class="control-label">班级:</label><br/>
          <label class="btn btn-primary" ng-repeat="class in classes" ng-model="class.isSelected" btn-checkbox>{{ class.name }}</label>
        </div>
      </div>
      <div class="form-group">
        <label for="classrome-input" class="control-label">时间:</label>
        <input type="password" name="classrome-input" class="form-control" ng-model="classrome"></input>
      </div>
    </form>
    <!-- alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert -->
  </div><!-- modal-body -->

  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">取消</button>
    <button type="button" class="btn btn-primary" ng-click="">注册</button>
  </div><!-- modal-footer -->
</script>

<!-- add grade dialog -->
<script type="text/ng-template" id="addGradeDialog.html">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">添加年级</h4>
  </div><!-- modal-header -->

  <div class="modal-body">
    <div>
      <p>已有年级</p>
      <p ng-repeat="grade in grades"><a class="grade">{{ grade._id}} - {{ grade.name }} 
        <button type="button" class="close nav-close" ng-click="deleteGrade(grade._id)" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </a></p>
    </div>
    <form ng-submit="ok()">
      <div class="form-group">
        <label class="control-label">请输入名称:</label>
        <input type="text" class="form-control" ng-model="gradeName"></input>
      </di>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">取消</button>
    <button class="btn btn-primary" ng-click="ok()">确定</button>
  </div>
</script>
